       <h3><span>Contact</span> Us</h3>
        <p class="big bgline">Mauris ornare aliquam urna, accumsan bibendum eros auctor ac.</p>
        <p>Suspendisse adipiscing rhoncus massa, sit amet sollicitudin quam vulputate non. In non turpis nisl. Curabitur purus mi, pharetra vitae viverra et, mattis sit amet nunc.</p>
        <p>Quisque enim ipsum, convallis sit amet molestie in, placerat vel urna.Suspendisse adipiscing rhoncus massa, sit amet sollicitudin quam vulputate non. In non turpis nisl.</p>
        <form action="contact.php" method="post" id="contactform">
          <ol>
            <li>
              <label for="name">Your Name*</label>
              <input id="name" name="name" class="text" />
            </li>
            <li>
              <label for="email">E-Mail*</label>
              <input id="email" name="email" class="text" />
            </li>
            <li>
              <label for="company">Website</label>
              <input id="company" name="company" class="text" />
            </li>
            <li>
              <label for="message">Your Message*</label>
              <textarea id="message" name="message" rows="6" cols="50"></textarea>
            </li>
            <li class="buttons">
              <input type="submit" name="imageField" id="imageField"  value="Send message" class="send" />
              <div class="clr"></div>
            </li>
          </ol>
        </form>
        


